.format{
  width:39%;
  height:50%;
  position: relative;
  border-radius: 10px;
  top:60px;
  left:5%;
  backdrop-filter: blur(1px);
}
.signin form{
    margin:15px;
    padding-bottom: 10px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.signin form input{
    border: 1px solid cyan;
    border-radius: 8px;
    padding-left:15px;
    height: 38px;
 
}
button{
  height:38px;
}

.signin h4{
  color:rgb(5, 5, 5);
  margin:10px;
  margin-left: 30px;
  font-weight: bolder;
  font-size: 30;
}
span{
  color:red;
  font-size: 20px;
  font-weight: bolder;
}

