.content img{
  min-height: 100%; 
  min-width: 100; 
  width: 100%;
  height: auto;
  position: fixed;
  top: -13%;
  left: 0;
  object-fit:fill;
  z-index:-1;
}
@media screen and (max-width:900px) { 
  .content img{
    top:0%;
  }
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  margin:0px;
  padding:1px;
  backdrop-filter:blur(1px);
  display:flex;
  align-items:center;
}
.header img{
  height:75px;
}
.header h2{
  color:cyan;
}
.form{
  width:39%;
  height:50%;
  position: relative;
  border: 3px solid #0F2233;
  border-radius: 10px;
  top:110px;
  left:53%;
}

